extends layout

block content
  h1 #{title}: #{book.title}
  
  p #[strong Author:] 
    a(href=book.author.url) #{book.author.name}
  p #[strong Summary:] #{book.summary}
  
  if book_instances.length
    hr
    p.text-danger #[strong Delete the following book instance before attempting to delete this book.]

    div(style='margin-left:20px;margin-top:20px')
      h4 Copies
      
      ul
      each val in book_instances
        li 
          a(href=val.url) #{val.imprint} - 
          if val.status==='可供借阅'
            span.text-success #{val.status}
          else if val.status==='馆藏维护'
            span.text-danger #{val.status}
          else
            span.text-warning #{val.status} 
          if val.status!=='可供借阅'
            //- span  (Due: #{val.due_back} )
            span  (Due: #{val.due_back_formatted} )

  else
    hr
    p Do you really want to delete this Book?
    
    form(method='POST' action='')
      div.form-group
        input#book-id.form-control(type='hidden',name='book_id', required='true', value=book._id )

      button.btn.btn-primary(type='submit') Delete
